@import "@/index.css";

.table {
  border-collapse: collapse;
  font-size: 12px;
  font-weight: lighter;

  --row-separator: var(--gray-1);

  &:not(:first-child) {
    margin-top: 10px;
  }

  > thead > tr > th {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    border-bottom: 1px solid #dcdddf;
    border-top: 1px solid #dcdddf;
    color: #48494a;
    height: 24px;
    padding: 4px 4px 3px;
  }

  > tbody > tr {
    > td,
    > th {
      border-bottom: 1px solid var(--row-separator);
      width: 100%;
      padding-left: 6px;
      padding-right: 6px;
      color: #6c6d6f;
    }

    &:nth-child(even) {
      background: rgba(0, 0, 0, 0.02);
    }
  }
}
