.card {
  display: flex;
  flex-flow: column;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  max-width: 800px;
}

.header {
  margin-right: 12px;
  margin-left: 16px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #151617;
  border-bottom: 1px dotted var(--color-neutral-200, #dcdddf);
}

.body {
  display: flex;
  flex-flow: column;
  padding: 10px;
}
