.button {
  background: #4752c4;
  border: 0;
  color: white;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  font-size: 8pt;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  text-decoration: none;
}
