.total {
  font-weight: normal;
  padding: 1px;
}

.split {
  height: fit-content;
  background-color: red;
  outline: 1px solid red;
  border-radius: 50%;
  color: #fff;
}

.span {
  padding: 1px;
}
