@import "@/index.css";

.input {
  width: 12px;
  border: 0;
  border-bottom: 1px solid var(--gray-2);
  text-align: inherit;
  background: transparent;
  margin-right: 1px;

  &.hide {
    display: none;
  }
}

.input:focus-visible {
  outline: 0;
}

.totalContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;

  > .checkboxContainer {
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex: 1;

    > .checkbox {
      margin: 0;
      width: 12px;
    }

    > label {
      font-size: 5px;
    }
  }

  > strong {
    line-height: 12px;
  }
}
